/* target-filter.css - for target filter */

#target-filter-type-menu {
    max-height: 580px;
}

#target-filter-buttons {
    text-align: center;
}

#target-filter-results {
    max-height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0.5rem; /* prevents content from hiding under scrollbar */
}

#target-filter-results-count {
    color: var(--text-secondary);
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
    text-align: center;
}

#filter-results-card .card-header {
    margin-bottom: 0.25rem;
}

#create-imaging-program-btn {
    display: none;
}

#create-imaging-program-btn,
#send-to-optimizer-btn {
    padding: 0.25rem 0.75rem;
    line-height: 1.2;
    width: 100%;
}

#create-imaging-program-btn div,
#send-to-optimizer-btn div {
    font-size: 0.75rem;
}
